<% if (!comment.appid || !comment.conf) { %>
<div class="notification is-danger">
    You forgot to set the <code>appid</code> or <code>conf</code> for Changyan. Please set it in <code>_config.yml</code>.
</div>
<% } else { %>
<div id="SOHUCS" sid="<%= post.path %>"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
    appid: '<%= comment.appid %>',
    conf: '<%= comment.conf %>'
});
</script>
<% } %>